body{

background-image:url("https://images.unsplash.com/photo-1559620192-032c4bc4674e");

background-size:cover;

font-family:Arial;

text-align:center;

color:white;

}

form{

background:rgba(0,0,0,0.6);

padding:20px;

display:inline-block;

border-radius:10px;

}

button{

padding:10px;

margin:10px;

background:#ff69b4;

border:none;

color:white;

font-size:16px;

border-radius:6px;

cursor:pointer;

}

ul{

list-style:none;

font-size:20px;

}