<configuration>
 <system.webServer>

   <handlers>
     <add name="Python FastCGI"
          path="*"
          verb="*"
          modules="FastCgiModule"
          scriptProcessor="C:\Python\pythoncore-3.14-64\python.exe|C:\Python\pythoncore-3.14-64\Lib\site-packages\wfastcgi.py"
          resourceType="Unspecified"/>
   </handlers>

 </system.webServer>

 <appSettings>
   <add key="WSGI_HANDLER" value="app.app"/>
   <add key="PYTHONPATH" value="C:\inetpub\wwwroot\cakeshopapp"/>
 </appSettings>

</configuration>